[mcu FYSETC_INPUT_SHAPER]
# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F423449C37-if00

[adxl345 BED]
cs_pin: FYSETC_INPUT_SHAPER:gpio13
#spi_bus: spi1a
spi_software_sclk_pin: FYSETC_INPUT_SHAPER:gpio10
spi_software_mosi_pin: FYSETC_INPUT_SHAPER:gpio11
spi_software_miso_pin: FYSETC_INPUT_SHAPER:gpio12
axes_map: x,-z,y

[resonance_tester]
accel_chip_y: adxl345 BED
accel_chip_x: adxl345 HOTEND
probe_points:
    155, 155, 20 # an example